@font-face {
    font-family:"starjedi";
    src: url(../font/Starjedi.ttf);
}

html{
    background-color:black;

}

body{
    color:white;
}

h1{
    font-family:'starjedi';
    font-size:large;
}

.h1logo{
    font-size:50px;
}

h2{
    font-family: 'starjedi';
}

p{
border-left: 5px solid  yellow;
margin-left: 5px;
padding-left: 10px;
}

img{
    height: 150px;
}

.menu {
    list-style: none;
  }
  
  .menu li{
   
    margin: 3px;
    padding: 5px;
    display: inline-block;
    width: 100px;
    background-color: rgb(14, 13, 13);
    border-bottom: 5px solid rgba(253, 237, 3, 0.5);
  }
  
  .menu a{
    text-decoration: none;
    color: rgb(197, 178, 11);
  }
  
  .menu a:hover{
    text-transform: uppercase;
  }
  
  .menu li:hover{
    text-shadow: 2px 2px black;
    background-color: #000000;
    border-bottom: 5px solid rgb(238, 255, 0);
  }

  #titulo{
      font-family:'starjedi';
      color: rgb(124, 124, 16);
  }

  fieldset{
      border: 0;
  }

input, select, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: yellow;
    display:inline-block;
}

fieldset .grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"]{
    padding: 0.2em;
    border:1px solid black;
    box-shadow:2px 2px 2px rgb(0,0,0,0.2);
}

@media screen and (max-width:768px){
    body{
        width:100%;
        padding: 0;
    text-align:center;
}
    }

    @media screen and (max-width:600px){
        body{
            width:100%;
            padding: 0;
            text-align: center;
        }
    }